

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.bacon {
  animation: 1s ease-out 0s 1 slide;
  transition: all 0.15s ease-in-out;
}

.bacon:hover {
  transform: scale(1.1);
}

.bacon .bacon-top {
  width: 170px;
  height: 2.5px;
  background: #d34e41;
  margin-left: 5px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.bacon .bacon-mid {
  width: 170px;
  height: 2.5px;
  background: #f6b78d;
  margin-left: 5px;
}
.bacon .bacon-mid2 {
  width: 170px;
  height: 2.5px;
  background: #d34e41;
  margin-left: 5px;
}
.bacon .bacon-bot {
  width: 170px;
  height: 2.5px;
  background: #aa1019;
  margin-left: 5px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
