.container .card{
  padding: 20px;
  margin-top: 20px;
}

.card-body .table{
  margin-top: 15px;
  text-align: center;
}

.card-body .currency-selector{
  display: flex;
  justify-content: center;
}


.card .card-body .total{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card .card-body .place-order{
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}