<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="currency-selector">
        <select (change)="updateCurrency($event)" name="currency" id="currency">
          <option value="USD">USD</option>
          <option value="AUD">AUD</option>
          <option value="MXN">MXN</option>
        </select>
      </div>
      <table class="table">
        <thead>
          <th>Name</th>
          <th>Units</th>
          <th>Total</th>
        </thead>
        <tbody *ngFor="let ingredient of orders">
          <tr>
            <td>{{ ingredient.name }}</td>
            <td>{{ ingredient.qty }}</td>
            <td>
              <span [hidden]="!USD">
                {{ ingredient.price | currency: "USD":"symbol":"1.2" }}
              </span>
              <span [hidden]="!AUD">
                {{ ingredient.price | currency: "AUD":"symbol":"1.2" }}
              </span>
              <span [hidden]="!MXN">
                {{ ingredient.price | currency: "MXN":"symbol":"1.2" }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="total">
        <h4 [hidden]="!USD">
          Total: {{ globalTotal | currency: "USD":"symbol":"1.2" }}
        </h4>
        <h4 [hidden]="!AUD">
          Total: {{ globalTotal | currency: "AUD":"symbol":"1.2" }}
        </h4>
        <h4 [hidden]="!MXN">
          Total: {{ globalTotal | currency: "MXN":"symbol":"1.2" }}
        </h4>
      </div>

      <div class="place-order">
        <button class="btn btn-primary" (click)="placeOrder()" [hidden]="orders.length ==0">Place order</button>
      </div>
    </div>
  </div>
</div>
