
@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.pickle-container{
  display: flex;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
  animation: 1s ease-out 0s 1 slide;
  transition: all 0.15s ease-in-out;
}

.pickle-container:hover {
  transform: scale(1.1);
}


.pickle-container .pickle,.pickle2 {
  top: 70px;
  width: 80px;
  height: 6px;
  background: #B79F01;
  margin-left: 5px;
  background-repeat: repeat-x;
}
.pickle-container .pickle:before,
.pickle:after,.pickle2:after,.pickle2:before {
  position: absolute;
  content: "";
}
.pickle-container .pickle:before,.pickle2:before {
  left: 20px;
  width: 25px;
  height: 6px;
  background: #fff;
  opacity: 0.2;
}
.pickle-container .pickle:after,.pickle2:after {
  left: 100px;
  height: 6px;
  width: 20px;
  background: #fff;
  opacity: 0.2;
}
