.bun-top {
  width: 180px;
  height: 50px;
  background: #df7b30;
  border-radius: 100px 100px 0 0;
  background-size: 80px 35px;
  background-repeat: no-repeat;
  background-position: -20px 2px, 5px -3px, -10px 14px, 35px -10px, 65px 2px,
    100px -5px, 120px 10px, 70px 15px, 28px 5px;
  background-image: radial-gradient(rgba(255, 255, 255, 0.7) 5%, transparent 4%),
    radial-gradient(rgba(255, 255, 255, 1) 5%, transparent 4%),
    radial-gradient(rgba(255, 255, 255, 1) 5%, transparent 4%),
    radial-gradient(rgba(255, 255, 255, 0.9) 5%, transparent 4%),
    radial-gradient(rgba(255, 255, 255, 0.9) 5%, transparent 4%),
    radial-gradient(rgba(255, 255, 255, 0.9) 5%, transparent 4%),
    radial-gradient(rgba(255, 255, 255, 0.9) 5%, transparent 4%),
    radial-gradient(rgba(255, 255, 255, 0.9) 5%, transparent 4%),
    radial-gradient(rgba(255, 255, 255, 0.9) 5%, transparent 4%);
}
