@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.lettuce{
  width: 160px;
  height: 3.5px;
  background: #83c400;
  margin-left: 5px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
  animation: 1s ease-out 0s 1 slide;
  transition: all 0.15s ease-in-out;
}

.lettuce:hover {
  transform: scale(1.1);
}

