
@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.onion {
  top: 80px;
  width: 170px;
  height: 6px;
  background: #9e3d6d;
  margin-left: 5px;
  transition: all 0.2s ease-in-out;
  animation: 1s ease-out 0s 1 slide;
  transition: all 0.15s ease-in-out;
}

.onion:hover {
  transform: scale(1.1);
}

.onion:before,
.onion:after {
  position: absolute;
  content: "";
}
.onion:before {
  left: 20px;
  width: 25px;
  height: 6px;
  background: #fff;
  opacity: 0.2;
}
.onion:after {
  left: 100px;
  height: 6px;
  width: 20px;
  background: #fff;
  opacity: 0.2;
}

