<div class="ingredients-list">
  <ul class="list-group">
    <li class="list-group-item list-thumbnail" *ngFor="let ingredient of ingredients">
      <div class="ingredient-name">
        <app-add-button [ingredient]="ingredient"></app-add-button>
        <app-del-button [ingredient]="ingredient" [hidden]="isQtyZero(ingredient.name)"></app-del-button>
      </div>
    </li>
  </ul>
</div>