<div class="container wrap">
  <div class="top"> 
    <div class="burger">
      <app-burger></app-burger>
    </div>
    <div class="ingredients">
      <app-ingredients-menu></app-ingredients-menu>
    </div>
  </div>
  <div class="order">
    <app-order> </app-order>
  </div>
  <div class="history">
    <app-history></app-history>
  </div>
</div>
