<div class="burguer">
  <div class="card">
    <div class="card-body">
      <app-bun-top></app-bun-top>
      <ng-template #componentcontainer></ng-template>
      <app-bun-bottom></app-bun-bottom>
    </div>
  </div>
</div>
