@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.meat{
    width: 170px;
    height: 12px;
    background: #9D4845;
    margin-left: 5px;
    border-radius: 130px;
    transition: all 0.2s ease-in-out;
    animation: 1s ease-out 0s 1 slide;
    transition: all 0.15s ease-in-out;
}

.meat:hover {
  transform: scale(1.1);
}

