<div class="container card">
  <h4 >Burger History</h4>
  <div class="history-thumbnail">
    <div class="card-body" *ngFor="let burger of burgerHistory">
      <app-history-thumbnail [burger]="burger"></app-history-thumbnail>
    </div>
  </div>
</div>