
@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.cheese{
  width: 170px;
  height: 6px;
  background: #FFB400;
  margin-left: 5px;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
  animation: 1s ease-out 0s 1 slide;
  transition: all 0.15s ease-in-out;
}

.cheese:hover {
  transform: scale(1.1);
}