<div class="card">
  <div class="card-title">
    <h6>Burger #{{ burger.id }}</h6>
  </div>
  <div class="card-body">
    <app-bun-top></app-bun-top>
    <ng-template #componentcontainer></ng-template>
    <app-bun-bottom></app-bun-bottom>
  </div>
</div>