
@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.tomato-wrap{
  display: flex;
  flex-direction: row;
  transition: all 0.2s ease-in-out;
  animation: 1s ease-out 0s 1 slide;
  transition: all 0.15s ease-in-out;
}

.tomato-wrap:hover {
  transform: scale(1.2);
}

.tomato-wrap .tomato,.tomato2{
  width: 70px;
  height: 7px;
  background: #c10000;
  margin-left: 5px;
  border-radius: 0px;
}

